.moreServices-container {
  width: 100%;
  margin-top: 10px;
}
.servicesHeading {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.headingSpan {
  color: #00bf89;
}

.servicesText {
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 3px;
}

.services-div {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.servicesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 260px;
  text-align: center;
  transition: all 1s;
}

.servicesItem:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}
